<div class="card">
    <div class="card-header">
        NPR Technology News
    </div>
    <img class="card-img-top" src="{{this.image}}" target="_blank" alt={{this.headline}}>
    <div class="card-body">
        <h5 class="card-title">{{this.headline}}</h5>
        <p class="card-text">{{this.summary}}</p>
        <a href={{this.link}} class="btn btn-primary">{{this.headline}}</a>
    </div>
    <div class="card-footer">
        <small class="text-muted">{{this.date}}</small>
    </div>
</div>