<div class="card text-center mb-4" style="min-width: 18rem">
    <img class="card-img-top" src="{{this.image}}" target="_blank" alt={{this.headline}}>
    <div class="card-body">
        <h4 class="card-title">{{this.headline}} </h4>
        <small>{{this.date}}</small>
        <hr>
        <p class="card-text">{{this.summary}}</p>
    </div>
    <div class="card-footer">
        <a href={{this.link}} class="btn btn-info" target="_blank"><i class="fab fa-readme"></i> Read</a>
        {{#if saved}}
        <button class="btn btn-danger unsaveBtn" data-id={{this._id}}><i class="far fa-window-close"></i>
            Unsave</button>
        {{/if}}
        {{#unless saved}}
        <button class="btn btn-success saveBtn" data-id={{this._id}}><i class="far fa-bookmark"></i> Save</button>
        {{/unless}}
        <button class="btn btn-primary noteBtn" data-id={{this._id}}><i class="fas fa-pen"></i> Notes</button>
    </div>
</div>